<table class="table mr-0">
        <tbody>
            <tr>
                    <td >
                    <button mat-raised-button>Save</button>
                    <button mat-raised-button color="primary">Close</button>
                    <button mat-raised-button color="accent">Approve</button>
                    <button mat-raised-button color="warn">Reject</button>
                    <button mat-raised-button color="accent">Find</button>
                    <a mat-raised-button color="primary">Exit</a>
                    </td>
            </tr>
        </tbody>
    </table>
<table class="table mat-elevation-z8 mr-0">
    <thead class="thead-dark">
        <tr>
            <th>EmpNo – TextBox (Default Disabled and filled)</th>
            <th>EmpName – Text Box
                (Default Disabled and filled)</th>
            <th>Year Selection - ComboBox</th>
            <th>Discription</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="4">CALENDER GRID</td>
        </tr>
    </tbody>
</table>
<table class="table mat-elevation-z8">
    <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Day of Week</th>
            <th>Country</th>
            <th>Discription</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>john@example.com</td>
        </tr>
        <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td>mary@example.com</td>
        </tr>
        <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>july@example.com</td>
        </tr>
    </tbody>
</table>