<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="example-button-row">
            <button mat-raised-button>Save</button>
            <span class="example-spacer"></span>
            <button mat-raised-button color="primary">Close</button>
            <span class="example-spacer"></span>
            <button mat-raised-button color="accent">Approve</button>
            <span class="example-spacer"></span>
            <button mat-raised-button color="warn">Reject</button>
            <span class="example-spacer"></span>
            <button mat-raised-button color="accent">Find</button>
            <span class="example-spacer"></span>
            <a mat-raised-button color="primary">Exit</a>
        </div>
    </div>
</div>