<table class="table mr-0">
    <tbody>
        <tr>
                <td colspan="3">
                <button mat-raised-button>Save</button>
                <button mat-raised-button color="primary">Close</button>
                <button mat-raised-button color="accent">Approve</button>
                <button mat-raised-button color="warn">Reject</button>
                <button mat-raised-button color="accent">Find</button>
                <a mat-raised-button color="primary">Exit</a>
                </td>
        </tr>
    </tbody>
</table>