/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800&display=swap');
*{
    font-family: 'Muli', sans-serif;
}
html, body { height: 100%; }
body { margin: 0;}
.mat-expansion-panel-body {
    padding: 0 !important;
}